body {
        padding-top: 56px;
}
section{
        margin-bottom: 50px;
}

footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
}

div.controls input{
    width:100%;
}

/* faq.html */
.question{
        background-color:#F5C4C4;
        padding: 5px;
        border: 2px dashed red;
        border-radius: 5px;

}

.answer{
        background-color:#B0E5FA;
        padding: 5px;
        margin-top: 10px;
        border: 2px dashed #32a1ce;
        border-radius: 5px;
}

/* contacts.html */

A.dot {
        text-decoration: none;
        border-bottom: 1px dashed #000080;
}

A.dot:hover {
        color: #f00000;
}