{% extends 'tours/base.html' %}

{% block title %}
    <title>Профиль: {{ user.user.username }}</title>
{% endblock title %}

{% block categories %}
{% endblock categories %}

{% block content %}
    <div class="col-lg-12">
        <nav aria-label="breadcrumb" class="mt-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Мой профиль</li>
            </ol>
        </nav>

        <div class="row">

            <div class="col-md-4">
                <img src="{{ user.image.url }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h3>{{ user.user.username }}</h3>
                <p>{{ user.user.last_name }} {{ user.user.first_name }}</p>
                <p>Email: {{ user.user.email }}</p>
                <p>Телефон: {{ user.phone }}</p>
                <p>Адрес: {{ user.address }}</p>
                {% if user.ability_to_create_tours %}
                    <a href="{% url 'tour_create' %}" style="margin-top: 20px" class="btn btn-primary btn-block">Создать тур</a>
                {% endif %}
                <a href="{% url 'profile-update' %}" style="margin-top: 20px" class="btn btn-success btn-block">Редактировать профиль</a>

            </div>
        </div>

        {% if user.ability_to_create_tours %}
            <hr>
            <div class="col-lg-12">
                <h3 class="text-center">Созданные вами туры</h3>
                <div class="row mt-5">
                    {% for tour in tours %}
                        {%  if tour.author.username == request.user.username %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href="{{ tour.get_absolute_url }}"><img class="card-img-top" src="{{ tour.image.url }}" alt=""></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="{{ tour.get_absolute_url }}">{{ tour.name }}</a>
                                        </h4>
                                        <h5>{{ tour.type }}</h5>
                                        <h5>{{ tour.price }} грн</h5>
                                        <a href="{% url 'tour-update' tour.slug %}" style="margin-top: 20px" class="btn btn-success btn-block">Редактировать тур</a>
                                        <a href="{% url 'tour-delete' tour.slug %}" style="margin-top: 20px" class="btn btn-danger btn-block">Удалить тур</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>
{% endblock content %}